.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.star-value {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
